
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hương Việt</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Manage/Ban">Bàn<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Manage/NhanVien">Nhân viên<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Manage/MaGiamGia">Mã giảm giá<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Khách hàng<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hoá đơn
                    </a>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Manage/HoaDon">Tất cả</a>
                        <a class="dropdown-item" href="#">Ngày</a>
                        <a class="dropdown-item" href="#">Tuần</a>
                        <a class="dropdown-item" href="#">Tháng</a>
                        <a class="dropdown-item" href="#">Quý</a>
                        <a class="dropdown-item" href="#">Năm</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
</body>
</html>




